@import "../variables";
@import "../mixins_functions";

.region--header-bottom {
  font-weight: 700;

  @include media-breakpoint-up(md) {
    border-bottom: 1px solid #DFE3E6;
  }
}

.js--menu-main-expanded {
  .region--header-bottom {
    border-bottom: 1px solid #DFE3E6;
  }
}