{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}


{% set regions_to_add_container = [
    'content_top',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(['region', 'region-' ~ region|clean_class, 'clearfix']) }}>
  {% spaceless %}
    {% if region in regions_to_add_container %}
    <div class="container">
    {% endif %}

    {{ content }}

    {% if region in regions_to_add_container %}
    </div>
    {% endif %}
  {% endspaceless %}
  </div>
{% endif %}
