{% extends "./_base.twig" %}
{% block title %}
  B-spot hero navy blue theme
{% endblock %}
{% block head %}
    <link rel="stylesheet" media="all"
          href="{{ basePath }}css/component/carousels/b-spot-hero.css"/>
    <link rel="stylesheet" media="all"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <!-- Please notice. This script is needed to build html in proper way. -->
    <script
            src="{{ basePath }}js/component/carousels/a-spot-hero-carousel.js"></script>
{% endblock %}

 {% block header %}
   {% include './partial/_page-header-fpo.twig' %}
 {% endblock %}

{% block content %}
  <div style="margin: 30px" class="notes">
    <h1>B-spot-hero (navy blue theme)</h1>
  </div>
  <div class="example">
    {% include './partial/_b-spot-hero.twig' %}
    {% if item.notes %}
      <div style="margin-bottom: 20px" class="notes">
        <h3>B-spot hero theme</h3>
        {{ item.notes }}
      </div>
    {% endif %}
  </div>
{% endblock %}

