{% extends "./_base.twig" %}
{% block title %}
  People profile cards
{% endblock %}
{% block head %}
    <link rel="stylesheet"
          media="all"
          href="{{ basePath }}css/component/cta-block-elements/half-content-people-tiles-with-buttons.css"/>
    <link rel="stylesheet"
          media="all"
          href="{{ basePath }}css/component/layouts/layout-people-profile-cards.css"/>

    <link rel="stylesheet" media="all"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
{% endblock %}

 {% block header %}
   {% include './partial/_page-header-fpo.twig' %}
 {% endblock %}

{% block content %}
  <div class="notes">
    <h1>Notes about people profile cards</h1>
  </div>
  <div class="example">
    {% include 'layouts/_layout-people-profile-cards.twig' %}
    {% if item.notes %}
      <div class="notes">
        <h2>People profile cards</h2>
        {{ item.notes }}
      </div>
    {% endif %}
  </div>
{% endblock %}
