{#layout-with-banner-sidebar-header-footer v.2#}
<div class="layout-with-banner-sidebar-header-footer_v3">
  {% include '../partial/_a-spot-hero-light-theme.twig' %}
  {% include '../partial/_cta-block-cards.twig' %}
  {% include '../partial/_fake-isi-sidebar.twig' %}
</div>
