<div class="row layout-with-banner-sidebar-header-footer_v2">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 {{ internalGridClasses.odsCol }}">
    {% include '../partial/_b-spot-hero.twig' %}
    {% include '../partial/layouts_parts/_heading-separator-paragraph.twig' %}
    {% include '../partial/layouts_parts/_percent-image-text.twig' %}
    {% include '../partial/layouts_parts/_dark-block-with-graphs.twig' %}
    {% include '../partial/layouts_parts/_symptoms-img-with-text.twig' %}
    {% include '../partial/layouts_parts/_fake-paragraph-type-accordion-group.twig' %}
    {% include '../partial/_individual-cta-row.twig' %}
  </div>

  <div class="col-lg-4 col-xl-3 js-storybook-remove-isi">
    {% include '../partial/_fake-isi-sidebar.twig' %}
  </div>
</div>
