@import "../variables";
@import "../mixins_functions";

.paragraph--type--citation-group {
  font-family: 'Museo Sans', sans-serif;
  font-size: 0.75rem;
  margin-bottom: 2rem;

  .btn:not(.collapsed) {
    i {
      transform: rotate(180deg);
    }
  }

  .references-toggle {
    padding: 0.645rem 0.9375rem 0.645rem 0;
    i.fa {
      margin-left: 10px;
    }
  }

  .paragraph {
    position: relative;

    .field-name-field-ods-citation-symbol-p {
      position: absolute;
      right: 100%;
      top: 0;
    }
  }
}
