@import "../variables";
@import "../mixins_functions";

.a-spot-hero-carousel {
  .jumbotron {
    &.w-90 {
      width: 90%;
      > .row {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    h1 {
      font-size: 1rem !important;
    }
  }

  p {
    font-size: 0.75rem;

    @include media-breakpoint-up(xs) {
      font-size: 1rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 1rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.25rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 0.8rem;

    @include media-breakpoint-up(xs) {
      font-size: 0.95rem;
    }

    @include media-breakpoint-up(sm) {
      font-size: 1.1rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.35rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.75rem;
    }
  }

  p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  .opaque-background {
    padding: 15px;

    p, h1, h2, h3, h4, h5, h6 {
      color: #343A40;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 2%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .slick-dots li
  {
    position: relative;
    display: inline-block;
    height: 5px;
    width: 30px;
    transform: scaleY(-1);
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;

    &.slick-active {
      background-color: #fff;
      opacity: 1;
    }

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      height: 5px;
      width: 30px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
    }
  }
}
