<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="region region-content clearfix">
        <div id="block-otsuka-design-system-theme-content"
             class="block block-system block-system-main-block">
          <div class="content">
            <article data-history-node-id="21" role="article" about="/a/tools-resources"
                     class="node node-type-general-purpose-page node-view-mode-full">

              <header class="node-header">
                <div id="a-spot-hero-dark-theme-with-img">
                  <div data-id="heroMode"
                       class="paragraph paragraph--type--hero-banner-item banner-scheme--__charcoal banner-type--__contained a-spot-hero-dark"
                       id="paragraph-636">
                    <div data-id="heroContainer" class="container ">
                      <div class="row">
                        <div data-id="heroCol12" class="col-12  hero-fullbleed-wrapper ">
                          <div class="card">
                            <div class="carousel card-block">
                              <div class="slide-wrapper">
                                <div alt="blue theme background" class="card-img-top"></div>

                                <div
                                  class="jumbotron position-absolute text-white text-left jumbotron-container">
                                  <div class="row">
                                    <div class="col-7 ods-px-10 ods-pt-50 text-container">
                                      <h1 class="text-white">A-spot dark theme test</h1>
                                      <p class="first-paragraph">Cras sit amet nibh libero, in
                                        gravida
                                        nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                        purus
                                        odio, vestibulum in vulputate at.</p>
                                    </div>
                                    <div
                                      class="col-5 jumbotron-img-container">
                                      <div
                                        class="image-class"
                                        role="img"
                                        title="patient profile illustration"
                                        aria-label="patient profile illustration"
                                      >
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </header>

              <section class="node-content">
                <h1>This page coming soon</h1>
              </section>
            </article>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      {% include '../partial/_fake-isi-sidebar.twig' %}
    </div>
  </div>
</div>
