<!-- start example code for Drupal -->
<div class="enumerated-circle-component">
  <div class="container">
  {% for item in enumeratedCircleComponent %}
    <div class="col-12 ods-mt-15">
      <div class="text-uppercase circle-default-styles{{item.class}}">{{item.text}}</div>
    </div>
  {% endfor %}
  </div>
</div>
<!-- end example code for Drupal -->
