<div class="region region-sidebar-right clearfix">

  <a id="isi-top" name="isi-top"></a>
  <section id="inline-isi-wrapper" class="inline-isi-wrapper section isi-section">

    <div class="inline-isi-header">


      <div class="field field-name-field-isi-title field-type-text-long field-label-hidden">
        <div class="field--item"><p>IMPORTANT SAFETY INFORMATION AND INDICATIONS FOR LOREM®
            (LOREMIPSUM)</p>
        </div>
      </div>


    </div>

    <div class="scroll-wrapper isi isi-block inline-isi-scrollable" style="position: relative;">
      <div class="isi isi-block inline-isi-scrollable scroll-content scroll-scrolly_visible"
           style="height: auto; margin-bottom: -17px; margin-right: -17px; max-height: 125px;">
        <div class="isi-inline-inner-wrap">


          <div
            class="field field-name-field-isi-inline-content field-type-entity-reference-revisions field-label-hidden">
            <div class="field--item">
              <div class="paragraph paragraph--type--from-library paragraph--view-mode--default"
                   id="paragraph-436">


                <div
                  class="field field-name-paragraphs field-type-entity-reference-revisions field-label-hidden">
                  <div class="field--item">
                    <div
                      class="paragraph paragraph--type--isi-section paragraph--view-mode--default">


                      <div
                        class="field field-name-field-isi-text field-type-text-long field-label-hidden">
                        <div class="field--item"><p><strong>IMPORTANT SAFETY
                              INFORMATION:</strong></p>

                          <hr>
                          <p><strong>Increased risk of death in elderly patients with
                              dementia-related psychosis: Medicines like LOREM IPSUM can raise
                              the risk of death in elderly people who have lost touch with
                              reality (psychosis) due to confusion and memory loss (dementia).
                              LOREM IPSUM is not approved to treat patients with
                              dementia-related psychosis. </strong></p>

                          <p><strong>Increased risk of suicidal thoughts or actions in children
                              and young adults: Antidepressant medicines may increase suicidal
                              thoughts or actions in some children and young adults within the
                              first few months of treatment and when the dose is changed. Pay
                              close attention to any changes, especially new and sudden changes,
                              in mood, behaviors, thoughts, or feelings and report them to the
                              healthcare provider. It is not known if LOREM IPSUM is safe and
                              effective for use in children.</strong></p>

                          <hr>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="field--item">
              <div class="paragraph paragraph--type--from-library paragraph--view-mode--default"
                   id="paragraph-441">


                <div
                  class="field field-name-paragraphs field-type-entity-reference-revisions field-label-hidden">
                  <div class="field--item">
                    <div
                      class="paragraph paragraph--type--isi-section paragraph--view-mode--default">


                      <div
                        class="field field-name-field-isi-text field-type-text-long field-label-hidden">
                        <div class="field--item"><p><strong>Do not take LOREM IPSUM if
                              you</strong> are allergic to aripiprazole or any of the
                            ingredients in LOREM IPSUM. Allergic reactions may include: rash,
                            hives, itching, difficulty breathing, tightness in the chest,
                            swelling of the mouth, face, lips, or tongue.</p>

                          <p><strong>LOREM IPSUM may cause serious side effects,
                              including:</strong></p>

                          <ul>
                            <li>Stroke (cerebrovascular problems) in elderly people with
                              dementia-related psychosis that can lead to death.
                            </li>
                            <li>Neuroleptic malignant syndrome (NMS), a rare and serious
                              condition that can lead to death. Call your healthcare provider or
                              go to the nearest hospital emergency room right away if you have
                              some or all of the following signs and symptoms of NMS: high
                              fever, stiff muscles, confusion, sweating, changes in pulse, heart
                              rate, and blood pressure.
                            </li>
                            <li>Uncontrolled body movements (tardive dyskinesia or TD). LOREM
                              IPSUM may cause movements that you cannot control in your face,
                              tongue, or other body parts. TD may not go away, even if you stop
                              taking LOREM IPSUM. TD may also start after you stop taking LOREM
                              IPSUM.
                            </li>
                            <li>Problems with your metabolism such as:
                              <ul>
                                <li>high blood sugar (hyperglycemia) and diabetes. Increases in
                                  blood sugar can happen in some people who take LOREM IPSUM.
                                  Extremely high blood sugar can lead to coma or death. If you
                                  have diabetes or risk factors for diabetes (such as being
                                  overweight or a family history of diabetes), your healthcare
                                  provider should check your blood sugar before starting LOREM
                                  IPSUM and during your treatment.
                                </li>
                                <li>Call your healthcare provider if you have any of these
                                  symptoms of high blood sugar while receiving LOREM IPSUM:
                                </li>
                                <li>feel very thirsty</li>
                                <li>need to urinate more than usual</li>
                                <li>feel very hungry</li>
                                <li>feel weak or tired</li>
                                <li>feel sick to your stomach</li>
                                <li>feel confused, or your breath smells fruity</li>
                                <li>increased fat levels (cholesterol and triglycerides) in your
                                  blood.
                                </li>
                                <li>weight gain. You and your healthcare provider should check
                                  your weight regularly.
                                </li>
                              </ul>
                            </li>
                            <li>Unusual urges. Some people taking aripiprazole have had unusual
                              urges, such as gambling, binge eating or eating that you cannot
                              control (compulsive), compulsive shopping and sexual urges. If you
                              or your family members notice that you are having unusual urges or
                              behaviors, talk to your healthcare provider.
                            </li>
                            <li>Decreased blood pressure (orthostatic hypotension). You may feel
                              lightheaded or faint when you rise too quickly from a sitting or
                              lying position.
                            </li>
                            <li>Falls</li>
                            <li>Low white blood cell count. Your healthcare provider may do
                              blood tests during the first few months of treatment with LOREM
                              IPSUM.
                            </li>
                            <li>Seizures (convulsions)</li>
                            <li>Problems with control of your body temperature so that you feel
                              too warm. Do not become too hot or dehydrated during treatment
                              with LOREM IPSUM. Avoid getting over-heated or dehydrated. Do not
                              exercise too much. In hot weather, stay inside in a cool place if
                              possible. Stay out of the sun, and do not wear too much or heavy
                              clothing. Drink plenty of water.
                            </li>
                            <li>Difficulty swallowing</li>
                          </ul>
                          <p>LOREM IPSUM may make you drowsy. Do not drive, operate heavy
                            machinery, or do other dangerous activities until you know how LOREM
                            IPSUM affects you.</p>

                          <p><strong>Before taking LOREM IPSUM, tell your healthcare provider if
                              you:</strong></p>

                          <ul>
                            <li>have or had diabetes or high blood sugar in you or your family;
                              your healthcare provider should check your blood sugar before
                              starting and during therapy with LOREM IPSUM
                            </li>
                            <li>have or had seizures (convulsions)</li>
                            <li>have or had low or high blood pressure</li>
                            <li>have or had heart problems or stroke</li>
                            <li>have or had low white blood cell count</li>
                            <li>are pregnant or have plans to become pregnant. It is not known
                              if LOREM IPSUM will harm your unborn baby.
                              <ul>
                                <li>There is a pregnancy exposure registry that monitors
                                  pregnancy outcomes in women exposed to LOREM IPSUM during
                                  pregnancy. For more information contact the National Pregnancy
                                  Registry for Atypical Antipsychotics at 1-866-961-2388 or
                                  visit http://womensmentalhealth.org/
                                  <wbr>
                                  clinical-and-research-programs/
                                  <wbr>
                                  pregnancyregistry/
                                </li>
                              </ul>
                            </li>
                            <li>are breast-feeding or have plans to breast-feed. LOREM IPSUM can
                              pass into your breast milk and may harm your baby. Talk to your
                              healthcare provider about the best way to feed your baby if you
                              receive LOREM IPSUM
                            </li>
                            <li>have or had any other medical conditions</li>
                          </ul>
                          <p>Tell your healthcare provider about all the medicines that you
                            take, including prescription and over-the-counter medicines,
                            vitamins, and herbal supplements. LOREM IPSUM and other medicines
                            may affect each other causing possible serious side effects. LOREM
                            IPSUM may affect the way other medicines work, and other medicines
                            may affect how LOREM IPSUM works. Do not start or stop any medicines
                            while taking LOREM IPSUM without talking to your healthcare provider
                            first.</p>

                          <p>The most common side effects of LOREM IPSUM in adults include:
                            restlessness or need to move (akathisia); dizziness; nausea;
                            insomnia; shaking (tremor); anxiety; constipation; sedation</p>

                          <p>These are not all the possible side effects of LOREM IPSUM. Call
                            your doctor for medical advice about side effects. You are
                            encouraged to report side effects to Otsuka America Pharmaceutical,
                            Inc. at 1-800-438-9927 or FDA at 1-800-FDA-1088 or
                            www.fda.gov/medwatch.</p>

                          <p>Please read FULL PRESCRIBING INFORMATION, including BOXED WARNING,
                            and MEDICATION GUIDE.</p>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="field--item">
              <div class="paragraph paragraph--type--from-library paragraph--view-mode--default"
                   id="paragraph-446">


                <div
                  class="field field-name-paragraphs field-type-entity-reference-revisions field-label-hidden">
                  <div class="field--item">
                    <div
                      class="paragraph paragraph--type--isi-section paragraph--view-mode--default">


                      <div
                        class="field field-name-field-isi-text field-type-text-long field-label-hidden">
                        <div class="field--item"><h6><strong>INDICATIONS:</strong></h6>

                          <p>LOREM IPSUM is a prescription medicine of an aripiprazole tablet
                            with an Ingestible Event Marker (IEM) sensor inside it used in
                            adults for the:</p>

                          <ul>
                            <li>Treatment of schizophrenia</li>
                            <li>Treatment of bipolar I disorder alone or when used</li>
                            <li>with the medicine lithium or valproate for:
                              <ul>
                                <li>acute (short-term) treatment of manic or mixed episodes</li>
                                <li>maintenance treatment</li>
                              </ul>
                            </li>
                            <li>Treatment of major depressive disorder (MDD) along with other
                              antidepressant medicines
                            </li>
                          </ul>
                          <p>The LOREM IPSUM System is intended to track if you have taken your
                            LOREM IPSUM. There may be a delay in the detection of the LOREM
                            IPSUM tablet and sometimes the detection of the tablet might not
                            happen at all. If the LOREM IPSUM APP does not indicate that you
                            have taken your medicine, do not repeat the dose. It is not known if
                            LOREM IPSUM can improve how well you take your aripiprazole (patient
                            compliance) or for changing your dose of aripiprazole. LOREM IPSUM
                            is not for use as real-time or emergency monitoring.</p>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="scroll-element scroll-x scroll-scrolly_visible">
        <div class="scroll-element_outer">
          <div class="scroll-element_size"></div>
          <div class="scroll-element_track"></div>
          <div class="scroll-bar"></div>
        </div>
      </div>
    </div>

    <div class="external-scroll-y inline-external-scroll-y scroll-y scroll-scrolly_visible">
      <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="top: 0px;"></div>
      </div>
    </div>

  </section>


  <section id="drawer-isi"
           class="isi-tray jsIsiContainer isi-drawer-collapsed d-md-none hide-tray isi-drawer-expanded"
           style="">

    <div class="isi-header">
      <div class="isi-header-wrap container">
        <div class="drawer-title">


          <div class="field field-name-field-isi-title field-type-text-long field-label-hidden">
            <div class="field--item"><p>IMPORTANT SAFETY INFORMATION AND INDICATIONS FOR LOREM®
                (LOREMIPSUM)</p>
            </div>
          </div>

        </div>
        <button class="isi-btn jsIsiMinimize btn btn-outline-primary"
                data-oapigtmcategory="Button Clicks" data-oapigtmaction="ISI"
                data-oapigtmlabel="MAXIMIZE">
          <span class="isi-btn-icon"></span>
          <span class="js-swap-text jsSwapTextExpand">MAXIMIZE</span>
          <span class="js-swap-text jsSwapTextCollapse hide">MINIMIZE</span>
        </button>
      </div>
    </div>

    <div class="isi isi-block isi-drawer-content isi-content-wrap container">

      <div class="scroll-wrapper isi-scrollable" style="position: relative;">
        <div class="isi-scrollable scroll-content"
             style="height: 197px; margin-bottom: -17px; margin-right: -17px; max-height: none;">


          <div
            class="field field-name-field-isi-drawer-content field-type-entity-reference-revisions field-label-hidden">
            <div class="field--item">
              <div class="paragraph paragraph--type--from-library paragraph--view-mode--default"
                   id="paragraph-421">


                <div
                  class="field field-name-paragraphs field-type-entity-reference-revisions field-label-hidden">
                  <div class="field--item">
                    <div
                      class="paragraph paragraph--type--isi-section paragraph--view-mode--default">


                      <div
                        class="field field-name-field-isi-text field-type-text-long field-label-hidden">
                        <div class="field--item"><p><strong>IMPORTANT SAFETY
                              INFORMATION:</strong></p>

                          <hr>
                          <p><strong>Increased risk of death in elderly patients with
                              dementia-related psychosis: Medicines like LOREM IPSUM can raise
                              the risk of death in elderly people who have lost touch with
                              reality (psychosis) due to confusion and memory loss (dementia).
                              LOREM IPSUM is not approved to treat patients with
                              dementia-related psychosis. </strong></p>

                          <p><strong>Increased risk of suicidal thoughts or actions in children
                              and young adults: Antidepressant medicines may increase suicidal
                              thoughts or actions in some children and young adults within the
                              first few months of treatment and when the dose is changed. Pay
                              close attention to any changes, especially new and sudden changes,
                              in mood, behaviors, thoughts, or feelings and report them to the
                              healthcare provider. It is not known if LOREM IPSUM is safe and
                              effective for use in children.</strong></p>

                          <hr>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="field--item">
              <div class="paragraph paragraph--type--from-library paragraph--view-mode--default"
                   id="paragraph-426">


                <div
                  class="field field-name-paragraphs field-type-entity-reference-revisions field-label-hidden">
                  <div class="field--item">
                    <div
                      class="paragraph paragraph--type--isi-section paragraph--view-mode--default">


                      <div
                        class="field field-name-field-isi-text field-type-text-long field-label-hidden">
                        <div class="field--item"><p><strong>Do not take LOREM IPSUM if
                              you</strong> are allergic to aripiprazole or any of the
                            ingredients in LOREM IPSUM. Allergic reactions may include: rash,
                            hives, itching, difficulty breathing, tightness in the chest,
                            swelling of the mouth, face, lips, or tongue.</p>

                          <p><strong>LOREM IPSUM may cause serious side effects,
                              including:</strong></p>

                          <ul>
                            <li>Stroke (cerebrovascular problems) in elderly people with
                              dementia-related psychosis that can lead to death.
                            </li>
                            <li>Neuroleptic malignant syndrome (NMS), a rare and serious
                              condition that can lead to death. Call your healthcare provider or
                              go to the nearest hospital emergency room right away if you have
                              some or all of the following signs and symptoms of NMS: high
                              fever, stiff muscles, confusion, sweating, changes in pulse, heart
                              rate, and blood pressure.
                            </li>
                            <li>Uncontrolled body movements (tardive dyskinesia or TD). LOREM
                              IPSUM may cause movements that you cannot control in your face,
                              tongue, or other body parts. TD may not go away, even if you stop
                              taking LOREM IPSUM. TD may also start after you stop taking LOREM
                              IPSUM.
                            </li>
                            <li>Problems with your metabolism such as:
                              <ul>
                                <li>high blood sugar (hyperglycemia) and diabetes. Increases in
                                  blood sugar can happen in some people who take LOREM IPSUM.
                                  Extremely high blood sugar can lead to coma or death. If you
                                  have diabetes or risk factors for diabetes (such as being
                                  overweight or a family history of diabetes), your healthcare
                                  provider should check your blood sugar before starting LOREM
                                  IPSUM and during your treatment.
                                </li>
                                <li>Call your healthcare provider if you have any of these
                                  symptoms of high blood sugar while receiving LOREM IPSUM:
                                </li>
                                <li>feel very thirsty</li>
                                <li>need to urinate more than usual</li>
                                <li>feel very hungry</li>
                                <li>feel weak or tired</li>
                                <li>feel sick to your stomach</li>
                                <li>feel confused, or your breath smells fruity</li>
                                <li>increased fat levels (cholesterol and triglycerides) in your
                                  blood.
                                </li>
                                <li>weight gain. You and your healthcare provider should check
                                  your weight regularly.
                                </li>
                              </ul>
                            </li>
                            <li>Unusual urges. Some people taking aripiprazole have had unusual
                              urges, such as gambling, binge eating or eating that you cannot
                              control (compulsive), compulsive shopping and sexual urges. If you
                              or your family members notice that you are having unusual urges or
                              behaviors, talk to your healthcare provider.
                            </li>
                            <li>Decreased blood pressure (orthostatic hypotension). You may feel
                              lightheaded or faint when you rise too quickly from a sitting or
                              lying position.
                            </li>
                            <li>Falls</li>
                            <li>Low white blood cell count. Your healthcare provider may do
                              blood tests during the first few months of treatment with LOREM
                              IPSUM.
                            </li>
                            <li>Seizures (convulsions)</li>
                            <li>Problems with control of your body temperature so that you feel
                              too warm. Do not become too hot or dehydrated during treatment
                              with LOREM IPSUM. Avoid getting over-heated or dehydrated. Do not
                              exercise too much. In hot weather, stay inside in a cool place if
                              possible. Stay out of the sun, and do not wear too much or heavy
                              clothing. Drink plenty of water.
                            </li>
                            <li>Difficulty swallowing</li>
                          </ul>
                          <p>LOREM IPSUM may make you drowsy. Do not drive, operate heavy
                            machinery, or do other dangerous activities until you know how LOREM
                            IPSUM affects you.</p>

                          <p><strong>Before taking LOREM IPSUM, tell your healthcare provider if
                              you:</strong></p>

                          <ul>
                            <li>have or had diabetes or high blood sugar in you or your family;
                              your healthcare provider should check your blood sugar before
                              starting and during therapy with LOREM IPSUM
                            </li>
                            <li>have or had seizures (convulsions)</li>
                            <li>have or had low or high blood pressure</li>
                            <li>have or had heart problems or stroke</li>
                            <li>have or had low white blood cell count</li>
                            <li>are pregnant or have plans to become pregnant. It is not known
                              if LOREM IPSUM will harm your unborn baby.
                              <ul>
                                <li>There is a pregnancy exposure registry that monitors
                                  pregnancy outcomes in women exposed to LOREM IPSUM during
                                  pregnancy. For more information contact the National Pregnancy
                                  Registry for Atypical Antipsychotics at 1-866-961-2388 or
                                  visit http://womensmentalhealth.org/
                                  <wbr>
                                  clinical-and-research-programs/
                                  <wbr>
                                  pregnancyregistry/
                                </li>
                              </ul>
                            </li>
                            <li>are breast-feeding or have plans to breast-feed. LOREM IPSUM can
                              pass into your breast milk and may harm your baby. Talk to your
                              healthcare provider about the best way to feed your baby if you
                              receive LOREM IPSUM
                            </li>
                            <li>have or had any other medical conditions</li>
                          </ul>
                          <p>Tell your healthcare provider about all the medicines that you
                            take, including prescription and over-the-counter medicines,
                            vitamins, and herbal supplements. LOREM IPSUM and other medicines
                            may affect each other causing possible serious side effects. LOREM
                            IPSUM may affect the way other medicines work, and other medicines
                            may affect how LOREM IPSUM works. Do not start or stop any medicines
                            while taking LOREM IPSUM without talking to your healthcare provider
                            first.</p>

                          <p>The most common side effects of LOREM IPSUM in adults include:
                            restlessness or need to move (akathisia); dizziness; nausea;
                            insomnia; shaking (tremor); anxiety; constipation; sedation</p>

                          <p>These are not all the possible side effects of LOREM IPSUM. Call
                            your doctor for medical advice about side effects. You are
                            encouraged to report side effects to Otsuka America Pharmaceutical,
                            Inc. at 1-800-438-9927 or FDA at 1-800-FDA-1088 or
                            www.fda.gov/medwatch.</p>

                          <p>Please read FULL PRESCRIBING INFORMATION, including BOXED WARNING,
                            and MEDICATION GUIDE.</p>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="field--item">
              <div class="paragraph paragraph--type--from-library paragraph--view-mode--default"
                   id="paragraph-431">


                <div
                  class="field field-name-paragraphs field-type-entity-reference-revisions field-label-hidden">
                  <div class="field--item">
                    <div
                      class="paragraph paragraph--type--isi-section paragraph--view-mode--default">


                      <div
                        class="field field-name-field-isi-text field-type-text-long field-label-hidden">
                        <div class="field--item"><h6><strong>INDICATIONS:</strong></h6>

                          <p>LOREM IPSUM is a prescription medicine of an aripiprazole tablet
                            with an Ingestible Event Marker (IEM) sensor inside it used in
                            adults for the:</p>

                          <ul>
                            <li>Treatment of schizophrenia</li>
                            <li>Treatment of bipolar I disorder alone or when used</li>
                            <li>with the medicine lithium or valproate for:
                              <ul>
                                <li>acute (short-term) treatment of manic or mixed episodes</li>
                                <li>maintenance treatment</li>
                              </ul>
                            </li>
                            <li>Treatment of major depressive disorder (MDD) along with other
                              antidepressant medicines
                            </li>
                          </ul>
                          <p>The LOREM IPSUM System is intended to track if you have taken your
                            LOREM IPSUM. There may be a delay in the detection of the LOREM
                            IPSUM tablet and sometimes the detection of the tablet might not
                            happen at all. If the LOREM IPSUM APP does not indicate that you
                            have taken your medicine, do not repeat the dose. It is not known if
                            LOREM IPSUM can improve how well you take your aripiprazole (patient
                            compliance) or for changing your dose of aripiprazole. LOREM IPSUM
                            is not for use as real-time or emergency monitoring.</p>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>


        </div>
        <div class="scroll-element scroll-x">
          <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar"></div>
          </div>
        </div>
      </div>

      <div class="external-scroll-y scroll-y">
        <div class="scroll-element_outer">
          <div class="scroll-element_size"></div>
          <div class="scroll-element_track"></div>
          <div class="scroll-bar"></div>
        </div>
      </div>

    </div>

  </section>


</div>
