<footer id="section-footer" role="contentinfo">
  <div id="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12">
          <div class="region region-footer-1 clearfix">
            <div id="block-prefootercontent"
                 class="block-content-prefooter-content block-content-basic block block-block-content block-block-content3c0ca396-833f-4c03-8859-a212d7fd25a2 block-prefooter-content">

              <h2>Pre Footer Space</h2>

              <div class="content">


                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                  <div class="field--item"><p>Optional text area that can be applied to the footer.
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                </div>


              </div>
            </div>

          </div>

        </div>
        <div class="col-lg-3 col-sm-4">
          <div class="region region-footer-2 clearfix">
            <nav role="navigation" aria-labelledby="block-indicationsfooter-menu"
                 id="block-indicationsfooter">

              <h2 id="block-indicationsfooter-menu">Indications</h2>


              <ul block="block-indicationsfooter" class="menu menu-indications-footer nav">
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">For treatment of
                    Condition A</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">For treatment of
                    Condition B</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">For treatment of
                    Condition C</a>
                </li>
              </ul>


            </nav>

          </div>

        </div>
        <div class="col-lg-3 col-sm-4">
          <div class="region region-footer-3 clearfix">
            <nav role="navigation" aria-labelledby="block-indicationamainmenu-menu"
                 id="block-indicationamainmenu">

              <h2 id="block-indicationamainmenu-menu">HCP Site Links</h2>


              <ul block="block-indicationamainmenu" class="menu menu-main nav">
                <li class="menu-item nav-item">
                  <a href="/a/home1" data-drupal-link-system-path="node/91">Home (Option 1 - ISI
                    Sidebar)</a>
                </li>
                <li class="menu-item menu-item--active-trail nav-item">
                  <a href="/a/about-condition" target="_self" data-drupal-link-system-path="node/6"
                     class="is-active">About Condition A</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/a/about-medication" target="_self"
                     data-drupal-link-system-path="node/11">About Medication</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/a/faqs" target="_self" data-drupal-link-system-path="node/16">FAQs</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/a/tools-resources" target="_self"
                     data-drupal-link-system-path="node/21">Tools &amp; Resources</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/discussion-guide" target="_self"
                     class="field--discussion-guide d-md-none d-lg-none field--border-top"
                     data-drupal-link-system-path="node/56">Discussion guide</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/savings-card" target="_self"
                     class="field--savings-card d-md-none d-lg-none field--border-bottom"
                     data-drupal-link-system-path="node/51">Savings Card Program</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="" target="_self" class="d-md-none d-lg-none">U.S. HEALTHCARE
                    PROFESSIONALS Site</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="" target="_self" class="d-md-none d-lg-none">Safety Program</a>
                </li>
              </ul>


            </nav>

          </div>

        </div>
        <div class="col-lg-3 col-sm-4">
          <div class="region region-footer-4 clearfix">
            <nav role="navigation" aria-labelledby="block-legallinksfooter-menu"
                 id="block-legallinksfooter">

              <h2 id="block-legallinksfooter-menu">Legal</h2>


              <ul block="block-legallinksfooter" class="menu menu-legal-links-footer nav">
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">Important Safety
                    Information</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">US Full
                    Prescribing Information</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">Medication
                    Guide</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">Federal
                    Communications Commission (FCC) Statement</a>
                </li>
              </ul>


            </nav>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="region region-footer-5 clearfix">
            <div id="block-oapilogofooter"
                 class="block-content-oapi-logo-footer block-content-basic block block-block-content block-block-contenta1aad739-9031-4646-b64a-57bf5e5ccfac block-oapi-logo-footer">


              <div class="content">


                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                  <div class="field--item">
                    <div>


                      <div data-blazy=""
                           class="blazy blazy--field blazy--field-media-image blazy--field-media-image--default field field-name-field-media-image field-type-image field-label-hidden blazy--on blazy--first">
                        <div class="field--item">


                          <div
                            class="media media--bundle--image media--blazy media--image is-b-loaded">


                            <img alt="Footer logo"
                                 class="media__image media__element b-lazy img-fluid b-loaded"
                                 loading="lazy"
                                 src="/sites/g/files/qhldwo2971/files/fields/2021-01/otsuka-logo-footer.png"
                                 typeof="foaf:Image" width="173" height="35"></div>


                        </div>
                      </div>


                    </div>
                  </div>
                </div>


              </div>
            </div>

          </div>

        </div>
        <div class="col-lg-8 col-12">
          <div class="region region-footer-6 clearfix">
            <nav role="navigation" aria-labelledby="block-footerutility-menu"
                 id="block-footerutility">

              <h2 class="visually-hidden" id="block-footerutility-menu">Footer Utility</h2>


              <ul block="block-footerutility" class="menu menu-footer-utility nav">
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">Privacy
                    Policy</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">Site Map</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/" target="_self" data-drupal-link-system-path="<front>">Terms of Use</a>
                </li>
              </ul>


            </nav>
            <nav role="navigation" aria-labelledby="block-sociallinksfooter-menu"
                 id="block-sociallinksfooter">

              <h2 class="visually-hidden" id="block-sociallinksfooter-menu">Social Links Footer</h2>


              <ul block="block-sociallinksfooter" class="menu menu-social-links-footer nav">
                <li class="menu-item nav-item">
                  <a href="https://fb.com" target="_blank" class="link-fb"
                     rel="noreferrer">Facebook</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="https://twitter.com" target="_blank" class="link-tw" rel="noreferrer">Twitter</a>
                </li>
              </ul>


            </nav>

          </div>

        </div>
        <div class="col-12">
          <div class="region region-footer-middle clearfix">
            <div id="block-footertext"
                 class="block-content-footer-text block-content-basic block block-block-content block-block-content5fd145f2-9878-4093-9d57-f0175738128c block-footer-text">

              <div class="content">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                  <div class="field--item"><p>Unless otherwise specified, all product and service
                      names appearing on this Internet site are trademarks owned by or licensed to
                      Otsuka Patient Assistance Foundation, Inc. No use of any trademark, trade
                      name, or trade dress in this site may be made without the prior written
                      authorization of Otsuka Patient Assistance Foundation, Inc. except to identify
                      the product or services of the company.</p>

                    <p>This site is intended for use by residents of the United States.</p></div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-8">
          <div class="region region-footer-7 clearfix">
            <div id="block-copyrighttext"
                 class="block-content-copyright-text block-content-basic block block-block-content block-block-content5c03b5e8-59c6-435b-903a-b6d29c2e0802 block-copyright-text">
              <div class="content">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                  <div class="field--item"><p>© 2020 Otsuka America Pharmaceutical, Inc., Rockville,
                      MD</p></div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-4">
          <div class="region region-footer-8 clearfix">
            <div id="block-contentchangedid"
                 class="block-content-content-changed-id block-content-basic block block-block-content block-block-content5f48f76d-08be-48ec-8cf0-ab4fd1291e25 block-content-changed-id">
              <div class="content">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                  <div class="field--item"><p>September 2020 12US20EBC0007</p></div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
