<header id="section-header" role="banner" class="header">
  <div id="header-top" class="region--header-top">
    <div class="container">
      <div class="region region-header-top clearfix">
        <div id="block-topalert"
             class="block-content-top-alert block-content-alert block block-block-content block-block-content8504010b-0cc4-4076-af64-b78ca1af29ff block-top-alert alert alert-light alert-dismissible fade show custom-top-alert"
             role="alert">
          <div class="content">

            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
              <div class="field--item"><p>Lorem Ipsum Banner</p></div>
            </div>

          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

      </div>

    </div>
  </div>
  <div id="header-middle" class="region--header-middle">
    <div class="container">
      <div class="region region-header-middle clearfix">
        <div id="block-usfullprescribinginformation"
             class="block-content-us-full-prescribing-information block-content-basic block block-block-content block-block-contenta6463880-eb34-47a1-b0bc-8f491c6e62c8 block-us-full-prescribing-information">


          <div class="content">


            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
              <div class="field--item">
                <ul>
                  <li><a href="#">US Full Prescribing Information, including boxed warning</a></li>
                  <li><a href="#">Medication guide</a></li>
                </ul>
              </div>
            </div>


          </div>
        </div>
        <div id="block-ushealthcareprofessionalssite"
             class="block-content-us-healthcare-professionals-site block-content-basic block block-block-content block-block-content75e91848-8ced-4906-b414-db14d0adbe42 block-us-healthcare-professionals-site">


          <div class="content">


            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
              <div class="field--item">
                <ul>
                  <li><a href="#">U.S. Healthcare Professionals Site</a></li>
                </ul>
              </div>
            </div>


          </div>
        </div>

      </div>

    </div>
  </div>
  <div id="header-menu-top" class="region--header-1-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="region region-header-1 clearfix">
            <div id="block-otsuka-design-system-theme-branding" class="site-branding">
              <a href="/a/about-condition" title="Home" rel="home" class="navbar-brand">
                <img
                  src="/sites/g/files/qhldwo2971/themes/site/themes/custom/demo_design_system_theme/logo.svg"
                  alt="Home" class="img-fluid d-inline-block align-top">

              </a>
            </div>

            <div id="block-otsukaconditionswitcher"
                 class="block block-otsuka-condition-switcher block-otsuka-condition-switcher-block">


              <div class="content">
                <div class="custom--condition-switcher">
                  <div class="dropdown">
                    <button aria-expanded="false" aria-haspopup="true"
                            class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                            id="conditionSwitcher&quot;" type="button">CONDITION A
                    </button>
                    <div aria-labelledby="conditionSwitcher" class="dropdown-menu">
                      <a class="dropdown-item" href="/b/about-condition">CONDITION B</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>


          <div class="region region-header-2 clearfix">
            <nav role="navigation" aria-labelledby="block-promolinks-menu" id="block-promolinks">

              <h2 class="visually-hidden" id="block-promolinks-menu">Promo links</h2>


              <ul block="block-promolinks" class="menu menu-promo-links nav">
                <li class="menu-item nav-item">
                  <a href="/discussion-guide" target="_self" class="field--discussion-guide"
                     data-drupal-link-system-path="node/56">Discussion Guide</a>
                </li>
                <li class="menu-item nav-item">
                  <a href="/savings-card" target="_self" class="field--savings-card"
                     data-drupal-link-system-path="node/51">Savings Card Program</a>
                </li>
              </ul>


            </nav>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="header-menu-bottom" class="region--header-bottom">
    <div class="container">
      <div class="region region-header-bottom clearfix">
        <nav role="navigation" aria-labelledby="block-otsuka-design-system-theme-main-menu-menu"
             id="block-otsuka-design-system-theme-main-menu"
             class="navbar menu-main navbar-light bg-light navbar-expand-md">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarTogglerblock-otsuka-design-system-theme-main-menu-menu"
                  aria-controls="navbarTogglerblock-otsuka-design-system-theme-main-menu-menu"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"
               id="navbarTogglerblock-otsuka-design-system-theme-main-menu-menu">

            <ul block="block-otsuka-design-system-theme-main-menu" class="menu menu-main nav">
              <li class="menu-item nav-item">
                <a href="/a/home1" data-drupal-link-system-path="node/91">Home (Option 1 - ISI
                  Sidebar)</a>
              </li>
              <li class="menu-item menu-item--active-trail nav-item">
                <a href="/a/about-condition" target="_self" data-drupal-link-system-path="node/6"
                   class="is-active">About Condition A</a>
              </li>
              <li class="menu-item nav-item">
                <a href="/a/about-medication" target="_self" data-drupal-link-system-path="node/11">About
                  Medication</a>
              </li>
              <li class="menu-item nav-item">
                <a href="/a/faqs" target="_self" data-drupal-link-system-path="node/16">FAQs</a>
              </li>
              <li class="menu-item nav-item">
                <a href="/a/tools-resources" target="_self" data-drupal-link-system-path="node/21">Tools
                  &amp; Resources</a>
              </li>
              <li class="menu-item nav-item">
                <a href="/discussion-guide" target="_self"
                   class="field--discussion-guide d-md-none d-lg-none field--border-top"
                   data-drupal-link-system-path="node/56">Discussion guide</a>
              </li>
              <li class="menu-item nav-item">
                <a href="/savings-card" target="_self"
                   class="field--savings-card d-md-none d-lg-none field--border-bottom"
                   data-drupal-link-system-path="node/51">Savings Card Program</a>
              </li>
              <li class="menu-item nav-item">
                <a href="" target="_self" class="d-md-none d-lg-none">U.S. HEALTHCARE PROFESSIONALS
                  Site</a>
              </li>
              <li class="menu-item nav-item">
                <a href="" target="_self" class="d-md-none d-lg-none">Safety Program</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>

    </div>
  </div>
</header>
