<div class="infographic-overflow-scrolling js-picture-bg d-flex flex-wrap justify-content-center">
    <div class="js-scrollable-holder scrollable">
        <div class="image-parent-holder">
            <div class="image-holder">
                <picture class="image-holder">
                    <img src="https://www.otsuka.co.jp/common/img/ogp.png">
                </picture>
            </div>
        </div>
    </div>
    <div class="after">Swipe to view more</div>
    <div class="footnote-block">
        <p class="footnote outdent">
            <i>*p&lt;0.05, **p&lt;0.01, &lt;0.001</i> vs placebo. MÅDRS
            before prospective treatment (SD): 31.0 (4.7).<sup>5</sup> MÅDRS after prospective
            treatment (SD): 27.1 (5.7).<sup>5</sup> MÅDRS at randomization (SD): ADT + placebo
            (n=178), 27.3 (5.6); ADT + REXULTI 2 mg/day (n=175), 26.9 (5.7).
        </p>
    </div>
</div>
