@import "../../variables";
@import "../../mixins_functions";
@import "../../common_components_mixins";

.group-of-half-people-tiles-with-buttons {
  h4 {
    @include h4HeadingCommonStyles(null, null, $inheritedBoldClass);
  }

  $smallBreakpoints: xs, sm;
  @each $smallBreakpoint in $smallBreakpoints {
    @include media-breakpoint-down($smallBreakpoint) {
      .container {
        padding-left: 0;

        .max-width-height {
          max-height: remOrPercent(413px);
          max-width: remOrPercent(335px);
        }

        .common-border {
          border: $common-border-size solid $common-border-color;
          border-radius: $border-radius;
        }

        .card {
          margin-bottom: 1.5rem;

          .photo {
            &__one {
              @include commonStylesForHalfCardsImg('person_1.webp', 146px);
            }

            &__two {
              @include commonStylesForHalfCardsImg('person_2.webp', 146px);
            }
          }

          .row {
            margin-right: 0;

            .card-block {
              margin-left: 1rem;
              padding-right: 0;
            }

            .display-xs-none {
              display: none;
            }
          }

          //wrappers for headings tags
          .card-title {
            @include overwriteAllHeadingTagsStyles;
          }

          .card-subtitle {
            @include overwriteAllHeadingTagsStyles(false);
          }

        }
      }
    }
  }

  $largeBreakpoints: md, lg, xl;
  @each $largeBreakpoint in $largeBreakpoints {
    @include media-breakpoint-up($largeBreakpoint) {

      .card:nth-of-type(odd) {
        border-top: $common-border-size solid $common-border-color;
        border-right: $common-border-size solid $common-border-color;
      }

      .card:nth-of-type(even) {
        border-bottom: $common-border-size solid $common-border-color;
        border-left: $common-border-size solid $common-border-color;
      }


      .max-width-height {
        height: auto;
        max-width: remOrPercent(662px);

        .default-row-height {
          height: remOrPercent(314px);
        }
      }

      .card {
        .photo {
          &__one {
            @include commonStylesForHalfCardsImg('person_1.webp', 100%, 100%, 330px);
          }

          &__two {
            @include commonStylesForHalfCardsImg('person_2.webp', 100%, 100%, 330px);
          }
        }

        .row {
          .display-lg-none {
            display: none;
          }
        }

        //wrappers for headings tags
        .card-title {
          @include overwriteAllHeadingTagsStyles;
        }

        .card-subtitle {
          @include overwriteAllHeadingTagsStyles(false);
        }

      }


    }
  }

}
