<div
  class="storybook-paragraph-type-accordion-group-wrapper paragraph paragraph--type--components-group paragraph--view-mode--default ods-pb-15 ods-pt-30 pr-3 pl-3 block-border"
  id="paragraph-301">


  <div class="paragraph paragraph--type--accordion-group paragraph--view-mode--default"
       id="paragraph-316">


    <h2>Frequently asked questions patients inquire about chronic pain</h2>


    <div
      class="field field-name-field-ods-accordion-item-p field-type-entity-reference-revisions field-label-hidden">
      <div class="field--item">

        <div
          class="paragraph paragraph--type--accordion-item paragraph--view-mode--default card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#paragraph-306">
              <div class="row">
                <div class="col">


                  <div
                    class="field field-name-field-ods-title-p field-type-string field-label-hidden">
                    <div class="field--item">Aenean convallis laoreet posuere?</div>
                  </div>


                  <span>+</span>
                </div>
              </div>
            </a>
          </div>
          <div id="paragraph-306" class="collapse show">
            <div class="card-body">


              <p>In dapibus nisi magna, eget consequat sem ultricies vel. Donec pretium
                bibendum nunc. Etiam mi ligula, luctus eu interdum a, rutrum et felis.
                Suspendisse tellus mi, rutrum bibendum porta a, aliquam ut arcu.&nbsp;</p>

            </div>
          </div>
        </div>
      </div>
      <div class="field--item">

        <div
          class="paragraph paragraph--type--accordion-item paragraph--view-mode--default card">
          <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" href="#paragraph-311">
              <div class="row">
                <div class="col">


                  <div
                    class="field field-name-field-ods-title-p field-type-string field-label-hidden">
                    <div class="field--item">Donec eget pulvinar libero?</div>
                  </div>


                  <span>+</span>
                </div>
              </div>
            </a>
          </div>
          <div id="paragraph-311" class="collapse">
            <div class="card-body">


              <p>Vivamus a neque dictum lorem pulvinar luctus a vitae elit.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="field--item">

        <div
          class="paragraph paragraph--type--accordion-item paragraph--view-mode--default card">
          <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" href="#paragraph-331">
              <div class="row">
                <div class="col">


                  <div
                    class="field field-name-field-ods-title-p field-type-string field-label-hidden">
                    <div class="field--item">Nullam rhoncus dolor id pharetra maximus?
                    </div>
                  </div>


                  <span>+</span>
                </div>
              </div>
            </a>
          </div>
          <div id="paragraph-331" class="collapse">
            <div class="card-body">


              <p>ellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas. Cras dignissim mattis tincidunt.&nbsp;</p>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>
