<div class="row people-data">
  <div class="field--item col-sm-6 ods-pl-0">
    <div>
      <h6 class="text-uppercase">VITALS</h6>
      <ul>
        <li>Lorem ipsum dolor</li>
        <li>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </li>
        <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
        <li>Tempor incididunt ut labore</li>
      </ul>
    </div>
  </div>

  <div class="field--item col-sm-6 ods-pl-0 ods-pr-30">
    <div>
      <h6 class="text-uppercase">MEDICAL HISTORY</h6>
      <ul>
        <li>Lorem ipsum dolor</li>
        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </li>
        <li>Tempor incididunt ut labore</li>
      </ul>
    </div>
  </div>

  <div class="triangle"></div>
</div>


<div class="col-12 second-people-data">
  <h6 class="ods-mt-25 text-uppercase">DIAGNOSIS</h6>
  <ul>
    <li>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
      scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
      Donec
      lacinia congue felis in faucibus.
    </li>
    <li>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
      scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viv.
    </li>
  </ul>

  <hr class="ods-pr-15 ods-pl-15">

  <h6 class="text-uppercase">Family History</h6>

  <ul>
    <li>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
      scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
      Donec
      lacinia congue felis in faucibus.
    </li>
    <li>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
      scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viv.
    </li>
  </ul>
</div>
