<div class="percent-image-text pb-3">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5 d-flex flex-wrap justify-content-center">
      <div class="ods-mt-25 ods-mb-25 ods-ml-25 circle-graph-image"
           role="img"
           aria-label="circle graph image"
           title="circle graph image">
      </div>
    </div>

    <div class="col-xs-12 col-sm-7 col-md-7 d-flex flex-wrap justify-content-center">
      <div class="ods-px-25 d-flex flex-wrap justify-content-center">
        <h3>Chronic pain affects 20% of U.S. adults*</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
    </div>
  </div>
  <hr class="ods-mr-25 ods-ml-25 ods-mt-0 ods-mb-0">
  <div class="ods-mt-25 ods-px-25">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
      cupidatat
      non proident. </p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia
      deserunt mollit anim id est.</p>
  </div>
</div>
