<div class="symptoms-img-with-text">
  <h2 class="ods-px-25 ods-pt-25 ods-pb-10">Symptoms</h2>
  <p class="ods-px-25">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor
    incididunt
    ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco. </p>
  <div class="row ods-px-25">
    <div class="col-12 ods-pb-25">
      <h6 class="text-uppercase">POTENTIAL CHRONIC PAIN SYMPTOMS INCLUDE dolor sit amet,
        consectetur.</h6>
    </div>
    <div class="col-6 col-sm-3 col-md-3 ods-pb-50">
      <div class="img__migraine"
           role="img"
           aria-label="migraine image"
           title="migraine image"></div>
      <h6 class="text-capitalize ods-pt-25">acute migraine</h6>
    </div>
    <div class="col-6 col-sm-3 col-md-3 ods-pb-50">
      <div class="img__ankle-sprain"
           role="img"
           aria-label="ankle sprain image"
           title="ankle sprain image"></div>
      <h6 class="text-capitalize ods-pt-25">ankle sprain</h6>
    </div>
    <div class="col-6 col-sm-3 col-md-3 ods-pb-50">
      <div class="img__dental-pain"
           role="img"
           aria-label="dental pain image"
           title="dental pain image"></div>
      <h6 class="text-capitalize ods-pt-25">dental pain</h6>
    </div>
    <div class="col-6 col-sm-3 col-md-3 ods-pb-50">
      <div class="img__postsurgical-pain"
           role="img"
           aria-label="postsurgical pain image"
           title="postsurgical pain image"></div>
      <h6 class="text-capitalize ods-pt-25">postsurgical pain</h6>
    </div>
  </div>
</div>
